<body>
<main>
  <div class="post-content">
    <p class="post-title">Title: </p>
    <p class="post-text"><%= @book.title %></p>
  </div>

  <div class="post-content">
    <p class="post-title">Body: </p>
    <p class="post-text"><%= @book.body %></p>
  </div>

  <p class="post-menu">
    <%= link_to "Edit", edit_book_path(@book) %>
  </p>
  <span>|</span>
  <p class="post-menu">
    <%= link_to "Back", books_path %>
  </p>
</main>
</body>