/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Helvetica, "Gill Sans", Avenir, sans-serif;
  color: #333;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  margin: 20px 0 5px 0;
}

.flash {
  color: green;
  font-size: 14px;
  margin-left: 40px;
}

body {
  margin-left: 30px;
  margin-top: 30px;
}

.book-list th {
  font-size: 15px;
}

.book-list td {
  font-size: 13px;
  margin: 10px;
}

.book-list-menu :hover {
  color:#ffffff; background:#000000;
}

.form-area {
  margin-top: 30px;
}

.btn-create {
  display: block;
}

h1 {
  font-size: 28px;
}

.top-text {
  margin: 30px;
  font-size: 13px;
}

.start-menu {
  margin: 30px;
  font-size: 13px;
}

h2 {
  margin: 10px 0;
}

h5 {
  margin-top: 10px;
  font-weight: normal;
}

.post-menu {
  font-size: 13px;
  margin-top: 30px;
  display: inline-block;
}

.post-menu :hover {
  color:#ffffff; background:#000000;
}

.post-content {
  margin: 40px 0 0 40px;
}

.post-title {
  display: inline-block;
  font-size: 15px;
}

.post-text {
  display: inline-block;
  font-size: 13px;
}

#error_explanation {
  width: 500px;
  height: 100px;
  margin: 10px 0;
  border: solid 2px red;
  background-color: #EEEEEE;
}

#error_explanation > h2 {
  margin: 0;
  padding: 5px;
  background-color: red;
  font-size: 15px;
  color: #fff;
}
#error_explanation > ul {
  margin: 20px 40px;
  font-size: 13px;

}

